@font-face {
  font-family: 'chunkfiveregular';
  src: url('../fonts/chunkfive-regular-webfont.woff2') format('woff2'),
       url('../fonts/chunkfive-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}
/* Body {margin : 0;}*/

.conteneur {
  width: 724px;
  padding: 25px;
  /*Mais attention ! la boite ne fera plus la bonne taille ! On met donc la propriété box-sizing, qu'on aurait pu aussi mettre dans le body pour ne plus avoir à le gérer*/
  box-sizing: border-box;
  background-color :#e4dfa4;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(00, 00, 00,0.7);
}

.boite {
  display: flex;
}

.block1 {
  width: 210px;
  margin-right : 25px;
}

.block2 {
  width : 260px;
  margin-right : 29px;
}

.block3 {
  width : 150px;
}

h1 {
  background-color : black;
  font-family: chunkfiveregular, serif;
  color: white;
  font-weight: 400; /* Pour enlever le gras*/
  border-radius: 3px 150px 3px 3px / 3px 35px 3px 3px;
  margin-top: 0;
  padding: 4px;
}
/*on peut mettre "section figure" pour nous y retrouver dans le cas où il y aurait aussi un footer un header etc avec des images */
figure {
  background-color : white;
  padding : 13px 0;
  text-align: center;
  /*l'image réagit comme du texte, c'est de type align donc on peut la faire se comporter comme du texte ! */
  margin : 0;
}

h3 {
  font-size : 0.9em;
}

ul {
  list-style-image: url(../images/etoile.png);
  padding-left : 20px;
}

li+li {
  margin-top : 10px;
}

h2 {
  color : #680000;
  font-size : 0.95em;
}

.btn {
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #cabf3e;
  border: white 1px solid;
  padding : 5px;
  border-radius: 6px;
}

.btn a {
  color : #680000;
  text-decoration: none;
}

.btn :hover {
  background-color : #928F69;
}