html {
  font-size: 80%;
}
body {
  margin : 0;
  background-image: url(../images/fond-page.png);
  font-family: Arial, Helvetica, sans-serif;
}
/*Ne pas l'oublier ! */
* {
  box-sizing: border-box;
}
#container {
  width : 750px;
  margin : 0 auto;
}
ul {
  list-style-type: none;
  padding-left:0;
  margin-bottom:0;
}
/*=================================== header ===================================*/
header {
  display: flex;
  align-items: baseline;
  color : white;
}/* Pour économiser une règle on peut mettre la taille dans le header et modifier ensuite la taille du p, et lui mettre un margin-left*/
h1 {
  font-size: 3em;
  padding-right: 20px;
}
h1+p {
  font-size: 0.9em;
}
/*=================================== box ===================================*/
#box {
  display : flex;
}
/*=================================== navigation ===================================*/
/*Plutôt donner la taille à la boîte, donc sur le nav*/
nav {
  width: 140px;
  margin-right : 10px}
nav ul {
  padding: 0;
  margin-top :0;
}
/* Plutôt mettre une classe au premier bouton car au changement de page on voudra que ce soit la couleur du bouton du change, et mettre les couleurs et bordures etc aux liens pour gérer le survol ! */
/* (((.btn a {
    text-decoration: none;
    color : black;
    display : block;
  }
.btn li {
  background-color : #e7e3a0;
  background: linear-gradient(180deg, rgba(231,227,160,1) 0%, rgba(222,215,124,1) 100%);
  padding: 5px 10px;
  border: white 1px solid;
  border-radius: 3px;
}
.btn li+li {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(198,217,156,1) 100%);
  margin-top: 6px;
}))) */
nav li+li {
  margin-top: 6px;
}
nav a {
  display: block;
  background: rgba(198,217,156,1);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(198,217,156,1) 100%);
  border: white 1px solid;
  border-radius: 3px;
  padding: 5px 10px;
  color: #112726;
  text-decoration: none;
}
nav a:hover, nav a:focus, .actuel /*On ajoute la classe au premier lien car on est sur le premier lien, sur les autres pages ça va changer*/ {
  background-color : #e7e3a0;
  background: linear-gradient(180deg, rgba(231,227,160,1) 0%, rgba(222,215,124,1) 100%);
}
/*=================================== main ===================================*/
main {
  background-color: #cddea1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /*Pour que le dernier bloc ne soit pas en stretch*/
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  width: 600px;
}
/*=================================== articles ===================================*/
article {
  background-color : #ebf1d9;
  padding: 20px 80px 20px 20px;
  width: 380px;
}
article+article{
  margin-top : 20px;
}
/*=================================== article 1 ===================================*/
h2{
  margin-top: 0;
  background-color: black;
  color : white;
  font-size : 1.2em;
  padding : 3px;
  font-weight: 700;
}
p {
  font-size:0.85em;
  line-height: 1.5em;
  /* margin-bottom : 0px; *//*Plutôt le faire en moins bourrin*/
}
main article p:last-child{
  margin-bottom: 0;
}
/*=================================== article 2 ===================================*/
.date{
  font-size: 0.7em;
  font-weight: 700;
}
article li {
  line-height: 0.9em;
}
article li+li {
  margin-top:0.7em;
}
article li a {
  color: #0f0087;
  font-size:0.85em;
}
/*=================================== article 3 ===================================*/
section+article {
  width: 160px;
  padding: 20px 10px;
}
ol {
  padding-left: 16px;
}
h3{
  font-size: 0.9em;
}
blockquote {
  margin : 0;
}
blockquote+blockquote {
  margin-top : 15px;
}
blockquote p {
  margin:0;
  font-style: italic;
}
blockquote p:last-child {
  font-style: normal;
  text-align: right;
}

/*===================================PAGE===================================*/
/*===================================SERVICE===================================*/
.services main article {
  padding: 20px;
  width: 100%; /* Pour le forcer à prendre tout l'espace disponible de son container*/
}
/*===================================Tableau===================================*/
caption {
  caption-side: top; /* Ou Bottom*/
  margin-bottom: 20px;
}
table, td, th {
  border: 1px solid #adadad;
  border-collapse: collapse; /* De base c'est en separate*/
  background-color: #fff; /*tout est en blanc sauf ce qui sera surprécisé*/
}
th {
  text-align: left;
}
th, td {
  padding: 8px;
  vertical-align: top; /* Ou bottom, ou baseline ou middle */
}
tr:nth-of-type(2n) td { /*les td qui sont dans les 2n tr vont avoir cette propriété*/
background-color: #c9d89b;
}
/*===================================Contact===================================*/
label {
  display: inline-block; /*Garde certaines caractéristiques des inline (à la suite les unes des autres) et des block (prennent toute la largeur disponible, les marges etc) ça nous permet d'utiliser le width*/
  min-width: 70px; /*Pour que si on zoome ça zoom aussi*/
}
/* label {
  vertical-align: top;
}  MAIS on veut juste aligner le label message ! On va donc mettre un sélecteur d'attribut avec []*/
[for="message"] {
  vertical-align: top;
}
/*On peut sélectionner les attributs selon les caractères spéciaux qu'ils contiennent, par exemple :
 Les éléments <a> dont href contient "example" 
a[href*="example"] {
  font-size: 2em;
} Va aussi sélectionner exampleStop
 Les éléments <a> dont href finit par ".org" 
a[href$=".org"] {
  font-style: italic;
}
 Les éléments <a> dont l'attribut class contient le mot logo 
comportement identique à a.logo 
a[class~="logo"] {
  padding: 2px;
}Ne sélectionnera pas logoPhoto
[attr^=valeur]
Permet de cibler un élément qui possède un attribut attr dont la valeur commence par valeur.*/ 
input[type="submit"]{
  margin-left: 70px;
  border: 1px grey solid;
  border-radius: 7px;
}
textarea, input, select {
  min-width: 153px;
}
form p {
  display: flex;
  justify-content: space-between;
}
form p:last-child{
  display: block;
  text-align: right;
}
/*===================================Coordonnées===================================*/
.contact section+article h2 {
  font-size: 0.85em;
}
.contact a[href^="tel"]{
  text-decoration: none;
  color: black;
}