.selector {
  /* Legacy */
  @extend .selector-parent;

  /* Display */
  display: flex;

  /* Box positioning */
  position: absolute;
  z-index: 10;
  top/bottom: 0;
  left/right: 0;
  align-self: flex-end;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  /* Box dimensions */
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border: 10px solid #333;
  width: 100px;
  padding: 10px;
  height: 100px;

  /* Box theme */
  opacity: 1;
  box-shadow: Xxxx;
  background-color: #000;

  /* Box content alignments */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  
  /* Text dimensions */
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  
  /* Text theme */
  font-weight: bold;
  text-decoration: uderline;
  font-style: italic;
  color: #fff;

  /* Mixins */
  @include set-link-color($color);

  /* Other */
  cursor: pointer;

  /* Transitions */
  transition: all 1s ease-out;

  /* Pseudo-classes */
  &:hover {}

  /* Pseudo-elements */
  &::before {}
  &::after {}

  /* All children */
  & * {}

  /* Direct children */
  & > * {}
}